.containerBackEnd {
  padding-top: 28px;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
  h1 {
    color: #E36161;
  }
  .right {
    padding: 40px 50px 20px 50px;
    overflow: hidden;
    position: absolute;
    margin-left: 240px;
    margin-top: 5px;
    h2 {
      margin-bottom: 40px;
    }
  }
  .left {
    min-height: 96.7vh;
    background-color: #515151;
    position: fixed;
    .nav {
      ul {
        list-style-type: none;
        margin-top: 30px;
        li {
          margin-bottom: 10px;
          .icon {
            float: left;
            color: white;
            margin-top: 3px;
            margin-right: 6px;
          }
          .titel {
            overflow: hidden;
            margin-bottom: 10px;
          }
          h3 {
            color: white;
            font-size: 16px;
            margin-right: 10px;
            float: left;
            overflow: hidden;
          }
          .box {
            background-color: #393232;
            padding: 10px;
            margin-top: 5px;
            border-radius: 1px;
            li {

            }
            a {
              display: block;
              margin-bottom: 5px;
            }
          }
          a {
            color: white;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }
}