.containerBackEnd {
  .right {
    form {
      .name {
        margin-bottom: 30px;
        label {
          float: left;
          font-size: 20px;
          padding: 3px 10px 0px 0px;
        }
      }
      .openImages{
        cursor: pointer;
      }
      .box {
        border: 1px solid #bebebe;
        border-radius: 1px;
        padding: 20px;
        margin-bottom: 20px;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input {
        margin-bottom: 10px;
        &.textfield {
          padding: 7px 5px;
          font-size: 12px;
        }
      }
      .imageFile {
        margin-top: 20px;
      }
      .btn {
        display: block;
        margin-top: 20px;
        padding: 12px 25px;
        border: none;
        color: white;
        background-color: #E36161;
        font-size: 14px;
        border-radius: 3px;
      }
      .image {
        width: 20%;
        display: block;
      }
    } 
    }
}