<div class="navigatie" id="myTopnav">
  <p class="test active">Home</p>
  <nav>
  	<a href="index.html" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="overons.html">About</a>
    
  </nav>
  <p><b><%= config.sitename%></b></p>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>