<div class="nav">
    <ul>
        <li>
        	<div class="titel">
        		<h3>Nieuwe blok</h3><i class="far fa-square icon"></i>
        	</div>
        	<div  class= "box">
        		<a href="/new?type=afbeelding en tekst">Afbeelding en tekst</a>
        		<a href="/new?type=tekst">Tekst</a>
        	</div>
        	
        </li>
        <li><a href="#">Documentatie</a></li>
        <li><a href="/mail">Mail</a></li>
        <li><a href="/media">Media</a></li>
    </ul>
</div>