<!-- Gebruikers navigatie-->
<div class="gebruikersNavigatie">
	<nav>
		<ul>
			<li><i class="fas fa-cog icon"></i><a href="/instellingen">Instellingen</a></li>
			<li><i class="fas fa-th-large icon"></i><a href="/blokken">Blokken</a></li>
			<li><i class="far fa-square icon"></i><a href="/alleBlokken">Nieuwe blok</a></li>
		</ul>
	</nav>
	
</div>