// Algemeen blok
.blok {
  overflow: hidden;
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  .centerBlok {
    padding: 80px 0px 90px 0px;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
}

.blok.afbeeldingEnTekstBlok{
  .centreren {
      height:auto;
      vertical-align: middle;
      font-size: 0;
    }
    .tekst {
      width:50%;
      display: inline-block;
      font-size: initial;
      padding-right: 20px;
      /* IE 7 hack */
      *zoom:1;
      *display: inline;
      vertical-align: middle;
    }
    .afbeelding {
      padding-left: 20px;
      width: 50%;
      height: auto;
        display: inline-block;
      /* IE 7 hack */
        *zoom:1;
        *display: inline;
        vertical-align: middle;
        img {
          width: 100%;
        }
    }
}

.blok.tekstBlok{
  .tekst {
    width: 100%; 
    text-align: center;
  }
}

.blok.contactBlok{
  .contactGegevens {
    background-color: #323232;
    padding: 60px 40px;
    width:48%;
    display: inline-block;
    /* IE 7 hack */
    *zoom:1;
    *display: inline;
    vertical-align: middle;
    ul {
      list-style: none;
      color: white;
      li {
        font-size: 16px;
        margin-bottom: 20px;
        a {
          color: white;
        } 
        span {
          width:50px;
          height:50px;
          background-color:white;
          border-radius:100%;
          line-height:50px;
          text-align:center;
          vertical-align:middle;
          display:inline-block;
          margin-right: 15px;          
          .icon {
            font-size: 20px;
            color: #323232;
          }
        } 
        p {
          display: inline-block;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
  .email {
    padding-right: 50px;
    width: 50%;
    height: auto;
    display: inline-block;
    /* IE 7 hack */
    *zoom:1;
    *display: inline;
    vertical-align: middle;
    .buttonHolder {
      text-align: left;
    }
    button {
      background-color: #323232;
      border: none;
      color: white;
      padding: 15px 50px;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .mail{ 
    input {
      display: block;
      height: 40px;
      margin-bottom: 15px;
      border: 2px solid #323232;
      color: #323232;
    } 
    textarea {
      height: 200px;
      width: 100%;
      padding: 20px;
      border: 2px solid #323232;
      max-width: 100%;
    }
    .err {
      color: red;
      display: block;
      padding-bottom: 5px;
      font-size: 15px;
    }
  } 
  #map {
    height: 100%;
    margin-bottom: 40px;
  }
}

.blok.kolomBlok{
  .kolom{
    padding-bottom: 30px; 
    border-bottom: 0 none; 
    box-shadow: 0 1px 5px 
    rgba(0, 0, 0, 0.46); 
    margin-bottom: 20px;
    .afbeelding{
      height: 200px; 
      width: 100%; 
      background-position: 50% 50%; 
      background-repeat: no-repeat; 
      background-size: cover;
    }
    .titel{
      text-align: center; 
      font-weight: bold; 
      font-size: 20px; 
      padding: 0px 20px; 
      margin-top: 25px;
    }
    .beschrijving{
      padding: 0px 25px; 
      text-align: center; 
      margin-top: 20px
    }
  }
  
}

.blok.videoBlok{
  .tekst{
    text-align: center;
    margin-bottom: 30px;
  }
}

.blok.artikelBlok{
  .artikel {
    background-color: grey; 
    color: black; 
    padding: 30px;
    margin-bottom: 30px; 
    overflow: hidden;
    img {
      width: 30%; 
      margin-right: 2%; 
      float: left;
    }
    .artikelTekst{
      float: left; 
      width: 68%;
    }
  }
}

@media (max-width: 991px) {
  .blok.afbeeldingEnTekstBlok {
    .tekst {
      width: 100%;
      text-align: center;
      padding-right: 0px;
      margin-bottom: 40px;
    }
    .afbeelding {
      width: 100%;
      padding-left: 0px;
    }
  }
  .blok.artikelBlok{
    .artikel {
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .artikelTekst{
        width: 100%;
      }
    }
  }
  .blok.contactBlok {
    .email {
      width: 100%;
      padding-right: 0px;
      margin-bottom: 20px;
    }
    .contactGegevens {
      width: 100%;
    }
  }
}